<section class="md:p-20 lg:w-8/12 lg:m-auto">
  <h2 class="mb-4 text-4xl font-semibold text-teal-950 animate__animated animate__fadeIn">
    Estou aqui para oferecer o melhor<span class="text-teal-600"> apoio em cada situação.</span>
  </h2>
  <div class="m-4 space-y-4 justify-items-center">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
      <div *ngFor="let servico of servicos; let i = index"
        [ngClass]="{ 'lg:col-span-2': servicos.length % 2 !== 0 && i === servicos.length - 1 }"
        class="border-2 border-teal-600 hover:bg-teal-600/25 p-3 rounded-lg space-y-2  lg:max-w-full">
        <div
          class="bg-teal-600/20 rounded-lg w-16 h-16 flex items-center justify-center overflow-hidden transform transition duration-300 hover:scale-110">
          <img class="m-3 p-2" [src]="servico.imagem" alt="">
        </div>
        <div>
          <h3 class="text-teal-950 font-semibold"> {{ servico.titulo }} </h3>
        </div>
        <div>
          <h4>
            {{ servico.descricao }}
          </h4>
        </div>
        <div *ngIf="i === servicos.length - 1" class="flex justify-center">
          <a class="mb-1 mt-6 inline-block rounded border-2 border-teal-600 bg-teal-600 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-300 hover:text-neutral-200 focus:border-neutral-300 focus:text-neutral-200 focus:outline-none focus:ring-0 active:border-neutral-300 active:text-neutral-200 dark:hover:bg-neutral-600 dark:focus:bg-neutral-600"
            href="https://wa.me/5562996384141" target="_blank" role="button" data-twe-ripple-init
            data-twe-ripple-color="light">Marque uma consulta</a>
        </div>
      </div>
    </div>
  </div>
</section>
