<section class="flex m-auto justify-center max-w-5xl " *ngIf="artigo">
  <div class="block rounded-lg bg-white shadow-secondary-1 dark:bg-surface-dark dark:text-white text-surface">
    <div class="overflow-hidden bg-no-repeat h-auto ">
      <img class="rounded-t-lg object-cover object-center hidden md:flex" [src]="artigo.img" alt="{{ artigo.title }}" />
    </div>
    <!-- Background -->
    <div class="flex justify-center relative mt-0 md:-mt-72 z-10">
      <div class="max-w-full">
        <div class="m-4 block rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-800 dark:shadow-black/20">
          <h1 class="mb-9 text-4xl font-extrabold leading-tight text-teal-800">
            {{ artigo.title }}
          </h1>
          <div class="md:flex md:flex-row">
            <div class="mx-auto mb-6 flex w-36 items-center justify-center md:mx-0 md:w-96 lg:mb-0">
              <img src="assets/images/Foto_Pedro_quadrada.png" class="rounded-full shadow-md dark:shadow-black/30"
                alt="author avatar" />
            </div>
            <div class="md:ms-6">
              <p class="mb-6 font-light text-neutral-500 dark:text-neutral-300">
                Pedro Soares é psicólogo clínico e psicoterapeuta com vasta experiência em ajudar pessoas, casais e
                famílias a superarem desafios emocionais, relacionais e comportamentais.
              </p>
              <p class="mb-2 text-xl font-semibold text-neutral-800 dark:text-neutral-200">
                Pedro Soares
              </p>
              <p class="mb-0 font-semibold text-neutral-500 dark:text-neutral-400">
                Psicoterapeuta
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-6">
      <div class="flex items-center">
        <svg width="30" height="3" xmlns="http://www.w3.org/2000/svg" class="mr-5">
          <rect width="100%" height="100%" fill="#0d9488" />
        </svg>

        <h5 class="mb-2 text-3xl font-medium leading-tight">
          {{ artigo.subTitle }}
        </h5>
      </div>
      <p class="font-medium text-teal-600 mt-4 mb-4">
        Por {{ artigo.autor }} em {{ artigo.dataCriacao }}, <br>atualizado em {{
        artigo.dataAtualizacao }}
      </p>
      <div class="mb-4 mt-4 text-base text-justify" [innerHTML]="artigo.content"></div>
      <p class="text-base text-surface/75 dark:text-neutral-300">
        <small>Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
</section>
