<section class="bg-teal-600/20 p-4 overflow-hidden">
  <div class="relative flex">
    <div class="animate-marquee whitespace-nowrap">
      <p class="inline-block font-medium text-xl text-teal-950">Marcar consulta: (62) 99638-4141 &nbsp;&nbsp;&nbsp; |
        &nbsp;&nbsp;&nbsp; Horário de trabalho: Seg a Sex: 08:00 às 17:00 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Número
        de emergência: (62) 99638-4141</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <p class="inline-block font-medium text-xl text-teal-950">Marcar consulta: (62) 99638-4141 &nbsp;&nbsp;&nbsp; |
        &nbsp;&nbsp;&nbsp; Horário de trabalho: Seg a Sex: 08:00 às 17:00 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Número
        de emergência: (62) 99638-4141</p>
    </div>
  </div>
</section>
