<section class="relative md:p-20 bg-teal-950/75">
  <div
    class="absolute inset-0 bg-[url('assets/images/help-3049553_1280.jpg')] bg-auto bg-no-repeat bg-center opacity-20">
  </div>
  <div class="relative z-10 m-4 space-y-4 lg:w-8/12 lg:m-auto xs:py-3">
    <h2 class="mb-4 text-4xl font-semibold text-white text-start text-shadow-2xl lg:text-6xl xs:mt-5">
      Em que momento você precisa de apoio emocional?
    </h2>
    <div class="flex flex-row">
      <div>
        <h3 class="text-white text-center md:text-justify xs:text-justify">
          Todos enfrentamos desafios na vida, mas há momentos em que o peso das situações parece nos tirar o fôlego.
          Precisar de apoio emocional não é um sinal de fraqueza, mas um reflexo da nossa humanidade. Pode ser que você
          esteja lidando com um luto, passando por mudanças significativas, enfrentando dificuldades nos relacionamentos
          ou
          sentindo-se sobrecarregado no trabalho. Talvez seja aquela sensação de vazio inexplicável, a ansiedade que não
          vai
          embora ou um cansaço emocional que nenhuma noite de sono consegue curar.
          O apoio emocional é essencial quando você percebe que precisa de alguém para ouvir, compreender e, às vezes,
          simplesmente estar presente. É na partilha das emoções que encontramos clareza, força e um novo caminho. Não
          espere que o sofrimento se acumule. Buscar apoio é um ato de cuidado consigo mesmo e um passo importante para
          restaurar o equilíbrio emocional e viver de forma mais plena.
        </h3>
      </div>
    </div>
  </div>
</section>
